<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <!--<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder>-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss}|%t|%p|%m%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <appender name="twitterApi" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>twitter.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>rollover_twitter_%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level %logger{5} # %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="spring" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>spring.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>rollover_spring_%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>200</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level %logger{5} # %msg %n</pattern>
        </encoder>
    </appender>

    <!-- Need to track INFO and above in a separate file so that it doesn't rollover when doing debug/trace level logging? -->
    <appender name="application" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>application.log</file>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>rollover_application%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level %logger{5} # %msg %n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="application"/>
    </root>

    <!--<logger name="io.crowdsignal" level="info">-->
        <!--<appender-ref ref="everything"/>-->
    <!--</logger>-->
    <!--<logger name="org.springframework" level="info"/>-->
    <!--<logger name="redis" level="info"/>-->

    <logger name="twitter4j" level="info" additivity="false">
        <appender-ref ref="twitterApi" />
    </logger>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="spring" />
    </logger>

</configuration>
